.upload-file__popup {
  box-shadow: -1px 1px 8px -1px rgba(0, 0, 0, 0.32);
  background-color: var(--bg-color_500);
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  left: -320px;
  top: -115px;
  z-index: 5;

  .dropzone {
    border: 1px dashed black;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    transition: all 0.1s linear;

    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-color_300);
    }

    &-placeholder {
      padding: 0 15px;
      position: relative;
      text-align: center;
      color: aliceblue;
      margin-top: 60%;

      &::before {
        content: url('../../../../assets/images/image-outline.svg');
        width: 100px;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .preview {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .edit-btns {
    justify-content: center;
  }
}
