.button {
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: var(--bg-color_300);
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: var(--bg-color_300-hover);
  }
}
