.progressbar-container {
  position: relative;
  margin: 10px 0;

  .progressbar {
    height: 10px;
    background-color: var(--bg-color_300);
    border-radius: 10px;
    margin: 2px 2px 2px 56px;

    .filler {
      height: 100%;
      border-radius: inherit;
      text-align: right;
      transition: width 0.5s ease-in-out;
    }
  }

  .percents {
    font-size: 14px;
    position: absolute;
    left: 16px;
    text-align: center;
    top: -3px;
  }
}
