.files {
  margin-bottom: 15px;

  &__title {
    position: relative;
    padding: 5px 5px 5px 50px;

    &::before {
      content: url('../../../assets/images/attach-outline.svg');
      width: 24px;
      position: absolute;
      left: 12px;
      top: 4px;
      transform: rotate(45deg);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-auto-rows: 150px;
    justify-content: space-between;
    row-gap: 20px;
    list-style: none;
    margin: 0 0 0 50px;
    padding: 0;
  }
}
