.board__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .add-item__form {
    padding: 0 10px;
  }

  .add-board__btn {
    border-radius: 5px;
    background-color: rgba(12, 10, 10, 0.2);
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: rgba(12, 10, 10, 0.3);
    }
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 5px;
  width: 19%;
  height: 86px;
  transition: transform 0.2s linear;
  &:has(.add-board__btn):hover,
  &:has(a):hover {
    transform: scale(0.98);
  }

  a,
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.board {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transform: translateY(150px);
    transition: all 0.5s ease-in-out;
  }
}
