.board__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;

  .add-item__form {
    padding: 0 10px;
    border-radius: 5px;
    background-color: rgba(12, 10, 10, 0.3);
    height: 100%;
  }

  .add-board__btn {
    border-radius: 5px;
    background-color: rgba(12, 10, 10, 0.3);
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: rgba(12, 10, 10, 0.2);
    }
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 19%;
  height: 86px;
  transition: transform 0.3s linear;

  // &:hover .item-link {
  //   background-color: #514538c9;
  // }

  &-link {
    color: aliceblue;
    border-radius: 5px;
    background-color: var(--bg-color_500);
    transition: all 0.3s linear;

    &:hover {
      background-color: var(--bg-color_500-hover);
    }
  }

  &:has(.add-board__btn):hover,
  &:has(.item-link):hover {
    transform: scale(0.98);
  }

  &-link,
  .add-board__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.board {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transform: translateY(150px);
    transition: all 0.5s ease-in-out;
  }
}
