.files__item-wrapper {
  position: relative;

  .files__item {
    height: 100%;
    position: relative;
    border-radius: 5px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      transition: all 0.1s linear;
      border-radius: 5px;
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }

    &:hover {
      &::before {
        background-color: rgba(104, 104, 104, 0.724);
      }

      span {
        visibility: visible;
      }

      span:hover {
        background-color: rgba(0, 0, 0, 0.653);
      }
    }

    span {
      visibility: hidden;
      padding: 5px 10px;
      border-radius: inherit;
      color: aliceblue;
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.1s linear;
    }

    img {
      object-fit: cover;
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }
  }

  .confirmation__pop-up {
    left: -17px;
    top: 10px;
  }
}
