.list {
  height: fit-content;
  background-color: #dfe3e6;
  border-radius: 10px;

  h3 {
    margin: 0;
    padding: 10px;
  }

  .add-card__btn {
    padding: 10px;
    color: #6b808c;
    border-radius: 0 0 10px 10px;

    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: rgba(9, 45, 66, 0.13);
      color: #17394d;
    }

    &:hover span {
      text-decoration: underline;
    }
  }

  textarea {
    min-height: 50px;
  }

  .edit-btns {
    margin: 0 10px 10px 10px;
  }
}
