.list-wrapper {
  background-color: var(--bg-color_500);
  border-radius: 10px;
  width: 30%;
  height: fit-content;

  h3 {
    margin: 0;
    color: aliceblue;
    padding: 10px;
  }

  .list {
    overflow-y: auto;
    max-height: 60vh;

    &.adding-card {
      max-height: 65vh;
    }

    .cards {
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }

  textarea {
    min-height: 50px;
    margin: 6px 10px;
  }

  .edit-btns {
    margin: 0 10px 10px 10px;
  }

  .add-card__btn {
    margin-top: 10px;
    padding: 10px;
    color: #8fa5b2;
    border-radius: 0 0 10px 10px;

    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      background-color: #00d989;
      color: #222222;
    }
  }
}
