.card {
  &-wrapper {
    margin: 6px 10px;
  }

  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--bg-color_200);
  box-shadow: inset -7px -7px 14px #9c9083, inset 7px 7px 14px #d4c2b1;
  cursor: pointer;

  &__title {
    font-weight: 500;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .badges {
    margin-top: 3px;
  }
}
