.card {
  margin: 6px 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--bg-color_200);
  box-shadow: inset -7px -7px 14px #9c9083, inset 7px 7px 14px #d4c2b1;
  cursor: pointer;

  &__title {
    font-weight: 500;
  }

  &__badges {
    display: flex;
    align-items: center;
  }
}

.card__badges {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
}
