.card-modal {
  min-height: 600px;
  background-color: #b8a99a;
  padding: 5px 10px;
  border-radius: 10px;

  &__header {
    padding: 5px 50px 5px 40px;
    position: relative;

    .icon {
      position: absolute;
      left: 12px;
      top: 16px;
    }
  }

  &__title {
    padding: 6px 10px;
    background-color: #b8a99a;
    font-weight: 600;
    border: none;
    font-size: 22px;

    &-assist {
      display: none;
    }

    &:focus {
      background-color: rgb(153, 140, 128);
    }
  }

  &__description {
    width: 550px;
  }

  .description-title__wrapper {
    position: relative;
    padding: 5px 0 15px 50px;

    .icon {
      position: absolute;
      left: 14px;
      top: 8px;
    }
  }
}

.description-editor,
.description-content {
  h2 {
    margin-top: 28px;
  }
  h3 {
    margin-top: 24px;
  }
  h4 {
    margin-top: 20px;
  }
  & > :first-child {
    margin: 0;
  }
  a {
    color: rgb(85, 26, 139);
    &:hover {
      text-decoration: underline;
    }
  }
}

.ck-editor__editable_inline {
  height: 300px;
}

.description-content {
  margin-left: 50px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-break: break-word;
  cursor: pointer;

  .content-empty {
    background-color: rgb(153, 140, 128);
    padding: 6px 0 0 6px;
    border-radius: 5px;
    min-height: 50px;
    transition: background-color 0.3s linear;

    &:hover {
      background-color: rgba(153, 140, 128, 0.7);
    }
  }
}
