.task-list__item {
  position: relative;
  margin: 5px 0 5px -4px;

  .checkbox {
    left: -29px;
    top: 9px;
  }

  &.checked {
    .task-title {
      text-decoration: line-through;
    }
  }
}

.task-item-controls-and-text {
  width: 100%;
  padding: 4px 5px;
  border-radius: 4px;
  display: inline-flex;
  cursor: pointer;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: var(--bg-color_300);
    .delete-btn {
      visibility: visible;
    }
  }

  .task-title {
    display: block;
    align-self: center;
    flex: 1;
  }

  .delete-btn {
    border: none;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    float: right;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    img {
      width: 16px;
    }
  }
}
