.sidebar {
  float: right;
  width: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 0 16px;
  padding: 0;
  list-style: none;

  &__item {
    border-radius: 4px;
    position: relative;
    transition: all 0.2s linear;

    &:hover {
      .btn-sidebar {
        background-color: var(--bg-color_300-hover);
      }
    }

    &-name {
      padding: 4px 3px 4px 6px;
      display: block;
      cursor: pointer;
    }

    .btn-sidebar {
      width: 100%;
    }

    .confirmation__pop-up {
      left: -125px;
      top: -70px;
    }
  }
}
