.sidebar {
  float: right;
  width: 120px;
  margin: 0 0 0 16px;
  padding: 0;
  list-style: none;

  &__item {
    background-color: var(--bg-color_300);
    border-radius: 4px;
    margin: 4px 0;
    position: relative;
    transition: all 0.2s linear;

    &:hover {
      background-color: var(--bg-color_300-hover);
    }
  }

  &__item-name {
    padding: 4px 3px 4px 6px;
    display: block;
    cursor: pointer;
  }
}
