.task-list__badge {
  position: relative;
  padding: 2px 3px 2px 20px;
  border-radius: 3px;
  transition: all 0.2s linear;

  &.task-list__completed {
    background-color: rgb(0, 167, 0);
  }

  &::before {
    content: url('../../../assets/images/checkbox-outline.svg');
    width: 16px;
    position: absolute;
    left: 2px;
  }
}
