.date-picker {
  background-color: var(--bg-color_500);
  box-shadow: -1px 1px 8px 2px rgba(0, 0, 0, 0.32);
  position: absolute;
  left: -80px;
  top: -20px;
  padding: 3px 7px;
  border-radius: 5px;
  color: aliceblue;
  z-index: 1;

  h4 {
    text-align: center;
    padding: 4px 0;

    font-weight: 500;
  }

  .react-datepicker__header {
    background-color: inherit;
  }
  .react-datepicker__day,
  .react-datepicker__day-name,
  .react-datepicker__current-month {
    color: aliceblue;
  }

  .react-datepicker__day--disabled {
    color: rgba(0, 0, 0, 0.438);
  }

  .react-datepicker__day:hover {
    background-color: #488bbd;
  }

  &__calendar {
    background-color: inherit;
    border: none;
  }

  &__input {
    display: none;
  }

  .start-date {
    margin: 2px 0 4px 19px;
    pointer-events: none;
  }

  .end-date {
    position: relative;
    margin-top: 2px;
    display: flex;
    align-items: center;
    margin-left: 19px;

    .checkbox {
      top: 3px;
      left: -17px;
    }
  }

  .react-datepicker__input-container {
    margin-left: 8px;
  }

  .error {
    min-height: 23px;
    padding: 0 0 5px 5px;
    color: red;
  }

  .edit-btns {
    margin: 7px 0 5px 0;
    justify-content: center;
  }
}
