.check-list {
  margin-bottom: 20px;

  &__title-wrapper {
    padding: 5px 5px 5px 50px;
    position: relative;
    margin-bottom: 4px;

    &::before {
      content: url('../../../assets/images/checkbox-outline.svg');
      width: 22px;
      position: absolute;
      left: 15px;
      top: 5px;
    }
  }

  .task-list {
    margin: 0;
    list-style: none;
    padding-left: 50px;
    min-height: 8px;
  }

  .add-item__wrapper {
    margin-left: 50px;
  }

  &__textarea {
    background-color: var(--bg-color_300);
    height: 40px;
    padding: 8px 5px 0 10px;
    color: aliceblue;

    &:focus {
      outline: 1px solid blue;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.536);
    }
  }
}
