.search {
  position: relative;

  &::before {
    content: url('../../assets/images/search-outline.svg');
    width: 16px;
    position: absolute;
    top: 5px;
    left: 3px;
    z-index: 1;
  }

  &__input {
    background-color: var(--bg-color_200);
    width: 100%;
    box-shadow: -1px 1px 8px 2px rgba(0, 0, 0, 0.32);
    padding: 6px 10px 6px 22px;
    border-radius: 5px;
    border: none;
  }
}
