.search__result {
  background-color: var(--bg-color_200);
  box-shadow: -1px 1px 8px 2px rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  transform: translateX(-50%);
  left: 50%;
  top: 20px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  height: fit-content;
  list-style: none;
  padding: 10px 0;

  .result__item {
    margin: 5px 0;
  }

  .result__link {
    padding: 4px 12px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    transition: all 0.1s linear;

    &:hover {
      background-color: var(--bg-color_300-hover);
    }
  }
}
