* {
  box-sizing: border-box;
}
body {
  background-color: orange;
}
a {
  text-decoration: none;
  color: black;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2.5em;
}
