a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  background-color: orange;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2.5em;
}
