* {
  box-sizing: border-box;
}
body {
  background-color: orange;
}

a {
  text-decoration: none;
  color: black;
}

li,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  padding: 40px 0;
  text-align: center;
  font-size: 2.5em;
}

.visible {
  display: block;
}
