.add-item__form {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;

  textarea {
    border-radius: 5px;
  }

  button {
    width: 120px;
  }
}
