:root {
  --bg-color_100: ;
  --bg-color_200: #b8a99a;
  --bg-color_300: rgb(136, 124, 113);
  --bg-color_300-hover: rgba(136, 124, 113, 0.5);
  --bg-color_400: ;
  --bg-color_500: #514538;
  --bg-color_500-hover: #514538ca;
}
