.edit-btns {
  display: flex;
  justify-content: stretch;
  gap: 5px;

  .edit-btn {
    cursor: pointer;
    width: 120px;
    background-color: #00d989;
    border-radius: 5px;
    border: none;
    transition: all 0.3s linear;

    &:disabled {
      background-color: rgba(0, 217, 137, 0.3);
    }

    &:hover {
      transform: scale(0.98);
      background-color: #02ffa2;
    }
  }

  .edit-btn-close {
    cursor: pointer;
    width: 25px;

    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.2);
    }
  }
}
