.edit-btns {
  display: flex;
  justify-content: stretch;
  gap: 5px;

  .edit-btn {
    cursor: pointer;
    width: 100%;
  }

  .edit-btn-close {
    cursor: pointer;
    width: 25px;

    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.2);
    }
  }
}
